<%- include('../includes/header.ejs') %>
<div class="jumbotron jumbotron-fluid p-4">
    
    
    <div class="container">    
        <h1 class="display-4 text-center">Update Password</h1>

        <% if (errormsg) { %>
        <div class="alert alert-danger" role="alert">
            
                <p><%= errormsg %></p>
                
          </div>
          <% } %>
      
        <hr>
       
            <div class="container">
                <form action="/new-password" method="POST">
                    <div class="form-group">
                        <label for="password"><h4>Password</h4> </label>
                        <input required type="password" class="form-control" id="password" placeholder="Password" name="password" >
                    
                    </div>

                    <input type="hidden" name="userId" value="<%= userId %>">
                    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
          
            </div>
    </div>
</div>
<%- include('../includes/footer.ejs') %>